book
debug/
target/

# Remove Cargo.lock from gitignore if creating an executable, leave it for libraries
# More information here https://doc.rust-lang.org/cargo/guide/cargo-toml-vs-cargo-lock.html
Cargo.lock
#Eclipse
.classpath
.project
/bin/
/.settings/

#IntelliJ
*.iml
*.ipr
*.iws
.idea/
/out/

#gradle
gradle/
gradlew
gradlew.bat
/.gradle/
/build/